@model IEnumerable<BaoCaoWebNangCao.Models.DANHMUCSANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layoutAdmin.cshtml";
}


<div style="margin-top:-15px">
    <section class="content-header">
        <h1 style="font-size:23px">
            Danh sách danh mục sản phẩm
            <small>Preview</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Admin/SANPHAMS/Index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/Admin/DANHMUCSANPHAMs/Index">Danh mục sản phẩm</a></li>
        </ol>
    </section>
</div>


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box ">
                <div class="box-header">
                    <form class="d-flex flex-row align-items-center flex-wrap" action="/Admin/DANHMUCSANPHAMs/Index">
                        <div class="box-header with-border" style="margin-top:-6px">
                            <div style="margin-top:-5px;">
                                <a href="/Admin/DANHMUCSANPHAMs/Create" class="btn btn-default btn-sm checkbox-toggle"> Thêm mới</a>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                    <input type="search" class="form-control input-sm" id="search" name="search" value="@ViewBag.Search" placeholder="Tên danh mục" />
                                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div><!-- /.box-tools -->
                        </div>
                    </form>
                </div><!-- /.box-header -->
                <div style="overflow: auto ">
                    <div class="box-body">
                        <table class="table table-bordered table-striped">

                            <tr>
                                <th>
                                    ID
                                </th>
                                <th>
                                    TÊN DANH MỤC SẢN PHẨM
                                </th>
                                <th>
                                    TÁC VỤ
                                </th>
                            </tr>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TENDANHMUC)
                                    </td>
                                    <td>
                                        <button class="btn btn btn-xs" href=""><i class="fa fa-pencil"></i>    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) </button>
                                        <button class="btn btn btn-xs" href=""><i class="fa fa-trash"></i>  @Html.ActionLink("Delete", "Delete", new { id = item.ID })</button>
                                    </td>
                                </tr>
                            }

                        </table>

                        @if (ViewBag.TotalPages > 1)
                        {
                            <div style="margin-top:30px">
                                <div class="text-center">
                                    @if (ViewBag.Page > 1)
                                    {
                                        @Html.ActionLink("<", "/Index", new { page = ViewBag.Page - 1, search = ViewBag.Search }, new { @class = "btn btn-default btn-sm checkbox-toggle" })
                                    }
                                    @for (int i = 1; i <= ViewBag.TotalPages; i++)
                                    {
                                        if (i == ViewBag.Page)
                                        {
                                            <a class="btn btn-default btn-sm checkbox-toggle" style="color: cornflowerblue;"> @i</a>
                                        }
                                        else
                                        {
                                            @Html.ActionLink(i.ToString(), "/Index", new { page = i, search = ViewBag.Search }, new { @class = "btn btn-default btn-sm checkbox-toggle" })
                                        }
                                    }
                                    @if (ViewBag.Page < ViewBag.TotalPages)
                                    {
                                        @Html.ActionLink(">", "/Index", new { page = ViewBag.Page + 1, search = ViewBag.Search }, new { @class = "btn btn-default btn-sm checkbox-toggle" })
                                    }
                                </div>
                            </div>
                        }
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>
</section>

